.topmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.topmenu img {
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align: center;
}
.topmenu li {
    float: left;
    padding: 1px;
   
}
.topmenu a:link, a:visited {
    display: block;
    text-decoration: none;
	font-weight: bold;
	text-align: center;
    width: 100px;
    height:80px;
    color: #FFFFFF;
    background-color: #909090;
    padding: 4px;
    border-radius: 5px;
}
.topmenu a:hover, a:active {
    background-color: #333;
}
.topmenu span {
    text-transform: uppercase;
    display: block;
    padding: 4px;
}