src/main/webapp/WEB-INF/database-settings.properties
target/m2e-wtp/web-resources/META-INF/maven/net/scales/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/net/scales/pom.xml
target/classes/net/scales/bean/AbstractBean.class
target/classes/net/scales/bean/AuthenticationBean.class
target/classes/net/scales/bean/rest/GreetingController.class
target/classes/net/scales/bean/ScalesBeanIn.class
target/classes/net/scales/bean/ScalesBeanOut.class
target/classes/net/scales/converters/CustomItemConverter.class
target/classes/net/scales/dao/ScalesDataDAO.class
target/classes/net/scales/dao/ScalesDataDAOImpl.class
target/classes/net/scales/dao/UserDAO.class
target/classes/net/scales/dao/UserDAOImpl.class
target/classes/net/scales/enums/UserRoleEnum.class
target/classes/net/scales/model/CustomItem.class
target/classes/net/scales/model/CustomUser.class
target/classes/net/scales/model/ScalesData.class
target/classes/net/scales/service/ScalesDataService.class
target/classes/net/scales/service/ScalesDataServiceImpl.class
target/classes/net/scales/service/UserService.class
target/classes/net/scales/service/UserServiceImpl.class
target/classes/net/scales/util/WebUtil.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
